
* {
    outline:none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
  }
  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub { 
    top: 0.4em; 
  }

html, body { 
    margin:0 !important;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a{
  text-decoration: none;  
}
body {
    position:relative;
    
}



